body {
    width: 74%;
    margin-left: auto;
    margin-right: auto;
    background-color: #460404;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 92%;
    margin: 0 auto;
    flex-flow: row wrap;
    background-color: rgba(85, 19, 19, 0.63);
    border: 10px solid #B22222;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    width: auto;
    height: 180px;
    box-shadow: 2px 1px 12px rgba(0, 0, 0, 2);
    border-radius: 4px solid;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    transform: perspective(600px) rotateY(0deg);
    user-select: none;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 170px;
    transform-origin: 50% 50%;
    transition: all 500ms ease-in-out;
    transform-style: preserve-3d;
    max-width: 133px;
}

.card.locked {
    pointer-events: none;
}

.card .pareja {
    transform: rotateY(180deg);
    background-color: rgba(46, 11, 11, 0.438);
}

.card img {
    width: 132px;
    height: 190px;
}

.card .flip-1, .card .flip-2 {
    position: absolute;
    backface-visibility: hidden;
    
}

.card .flip-1 {
    transform: rotateY(0deg);
}

.card .flip-2 {
    transform: rotateY(-180deg);
}

.turn {
    transform: perspective(600px) rotateY(-180deg);
}

.pareja i {
    font-size: 100px;
    background-color: #9cf872c4
}

.mostrarP {
    width: 64px;
    height: 64px;
    background: url(../img/emoji.png) 0px 0px;
    top: 64px;
    position: relative;
    left: 32px;
}

.endGame img {
    display: flex;
    max-width: 30%;
    max-height: 30%;
}

.endGame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0, 0);
    transition: all 500ms ease-in-out;
}

.endGame.show {
    opacity: 1;
    transform: scale(1, 1);
    transition: all 500ms ease-in-out;
}

#controls {
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
}

#controls ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about{
    text-align: center;
    background-color:rgba(254, 249, 245, 0.83);
}

.centrar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(231, 209, 209, 0.829);
    font: 300;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}


.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    background-image: none;
    border-color: #269abc
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85
}